<div class="container">
    <div class="row">
        <div class="col-12 text-right mt-5">
            <button class="btn btn-outline-light" [routerLink]="['/home']">Return</button>
        </div>
        <h2>Post</h2>
        <div class="card col-12 mb-5" *ngFor="let item of datos;" [routerLink]="['/detail', item.id]">
            <div class="card-body" style="margin: 15px 20px !important;">
                <h5 class="card-title"><i class="far fa-comments"></i> {{item.title}} ( {{item.email}} )</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-subtitle mb-2 text-right">{{item.firstname}} {{item.lastname}}<br>{{item.country}}<br>{{item.date}}</p>
            </div>
        </div>
        <h3>Comments</h3>
        <ul class="list-group col-12 mb-5">
            <li class="list-group-item" *ngFor="let item of datosComments;">
                <div class="col-12">
                    <i class="fas fa-comment"></i> {{item.body}}
                </div>
                <div class="col-12 pull-right text-right">{{item.date}}</div>
            </li>
        </ul>
    </div>
</div>