<div class="container">
    <div class="row mb-5">
        <div class="col-6 mt-5">
            <a class="navbar-brand">Hola {{ sesion }}</a>
        </div>
        <div class="col-6 mt-5 pull-right text-right">
            <button class="btn btn-outline-light" (click)="salir()">LogOut</button>
        </div>
        <div class="col-12 mb-5 mt-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="filterPost" aria-label="Search" [(ngModel)]="filterPost">
        </div>

        <ng-container *ngIf="(filterPost==''); then paginator; else search">
        </ng-container>

        <ng-template #paginator>
            <div class="card col-12 mt-2" *ngFor="let item of pagedItems" [routerLink]="['/detail', item.id]">
                <div class="card-body row" style="margin: 15px 20px !important;">
                    <div class="col-12 col-md-4 ">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-subtitle mb-2">{{item.firstname}} {{item.lastname}} <br><span>{{item.date}} {{item.country}}</span></p>
                    </div>
                    <div class="col-12 col-md-8">
                        <p class="card-text"><i class="far fa-comments"></i> {{item.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <nav aria-label="Page navigation example" *ngIf="!listaErr">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <p class="page-link">{{pager.startIndex + 1 }} - {{pager.endIndex + 1}} de {{pager.totalItems}} </p>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link moreLess" (click)="setPage(pager.currentPage - 1)">&#60;</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link moreLess" (click)="setPage(pager.currentPage + 1)">&#62;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </ng-template>

        <ng-template #search>
            <div class="card col-12 mt-2" *ngFor="let item of allItems | filter: filterPost" [routerLink]="['/detail', item.id]">
                <div class="card-body row" style="margin: 15px 20px !important;">
                    <div class="col-12 col-md-4 ">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-subtitle mb-2">{{item.firstname}} {{item.lastname}} <br><span>{{item.date}} {{item.country}}</span></p>
                    </div>
                    <div class="col-12 col-md-8">
                        <p class="card-text"><i class="far fa-comments"></i> {{item.description}}</p>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>